.card{
    display: flex;
    flex-direction: column;
    gap: 8px;

    h3{
        margin-top: 8px;
    }

    img{
        width: 100%;
        border-radius: 20px;
        aspect-ratio: 1/1.4;
        object-fit: cover;
    }
}

.card-rating{
    display: flex;
    align-items: center;
    gap: 10px;
    line-height: 1;

    @media (max-width: 900px) {
        flex-direction: column;
    }
}