.customers__card {
    border: 1px solid gray;
    border-radius: 20px;

    padding: 30px 30px 50px;
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    gap: 10px;



    p {
        color: gray;

    }
}


.customers__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;

    @media (max-width: 800px) {
        grid-template-columns: 1fr 1fr;

    }

    @media (max-width: 500px) {
        grid-template-columns: 1fr;

    }
}